[
     {
         "FromPort": -1,
         "ToPort": -1,
         "IpProtocol": "-1",
         "IpRanges": [
             {
                 "Description": "Allow all outbound.",
                 "CidrIp": "0.0.0.0/0"
             }
         ]
     }
]
