[
     {
         "FromPort": 22,
         "ToPort": 22,
         "IpProtocol": "tcp",
         "IpRanges": [
             {
                 "Description": "Allow inbound access.",
                 "CidrIp": "0.0.0.0/0"
             }
         ]
     }
]
